@font-face {
    font-family: 'TT First Neue';
    src: url('/fonts/TTFirsNeue-Black.woff') format('woff'),
    url('/fonts/TTFirsNeue-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

:root {
    --color-bg: #1F1F1F;
    --color-border: #25252D;
    --color-white: #fff;
    --color-btn-dark: #25252D;
    --color-primary: radial-gradient(180.95% 157.96% at 0% 0%, #8AECFF 0.52%, #F2ACFD 51.04%, #F5E876 100%);
    --color-title: linear-gradient(70.18deg, #8BECFF 23.46%, #F49CF8 69.06%, #F0FE98 109.66%);

    --color-gray: #B0B7C3;
    --color-btn-popular: #A6FFAF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    font-family: 'Space Grotesk', sans-serif;
    color: var(--color-white);
}
a {
    text-decoration: none;
    color: var(--color-white);
}
.header {
    /* border-bottom: 2px solid var(--color-border); */
    padding: 28px 0;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    margin-right: 66px;
}
.header-nav {
    margin-left: 0;
    margin-right: auto;
}
.header-nav__item {
    display: inline-block;
    margin-right: 24px;
}
.container {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}
.wrapper {
    max-width: calc(956px + 80px);
    padding: 0 40px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    background: var(--color-primary);
    padding: 24px;
    font-size: 16px;
    line-height: 1;
    border-radius: 16px;
    color: var(--color-bg);
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: .5s;
    cursor: pointer;
}
.btn:hover {
    opacity: .7;
    transition: .2s;
}
.btn--dark {
    background: var(--color-btn-dark);
    color: var(--color-gray);
}
.btn--small {
    padding: 18px 24px;
    font-size: 12px;
    line-height: 1;
}
.btn--popular {
    border: 1px solid var(--color-btn-popular);
    color: var(--color-btn-popular);
    background: transparent;
}

.header-search {
    margin-right: 88px;
    max-width: 256px;
    width: 100%;
    margin-bottom: 6px;
}
.header-search__input {
    padding: 10px 16px;
    border-radius: 8px;
    color: #777E91;
    border: 2px solid #353945;
    background: transparent;
    width: 100%;
}
.hero .container {
    position: relative;
}
.hero-wrapper {
    display: flex;
    padding: 130px 0 66px;
}
.hero__content {
    max-width: 520px;
    width: 100%;
}
.hero__pic {
    position: absolute;
    right: -120px;
    top: -20px;
}
.hero__pic img {
    width: 100%;
    height: auto;
    display: block;
}
.hero__subtitle {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 12px;
}
.hero__title {
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 32px;
    text-transform: uppercase;
    margin-bottom: 20px;
    background: var(--color-title);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'TT First Neue', sans-serif;
  font-weight: 800;
}
.hero__desc {
    
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}
.hero-controls {
    display: flex;
}
.hero__btn {
    margin-right: 24px;
}
.crypt-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    margin: 0 auto;
    max-width: 956px;
    width: 100%;
    border: 2px solid var(--color-border);
    box-shadow: 0px 23px 44px rgba(3, 8, 17, 0.14);
    border-radius: 16px;
    background: var(--color-bg);
}
.crypt-block__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crypt__item {
    max-width: 109px;
    padding: 8px;
    width: 100%;
    border-radius: 40px;
    border: 2px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
.crypt__text {
    font-size: 10px;
    line-height: 13px;
    color: var(--color-gray);
    max-width: 180px;
}
.purchase  {
    padding: 48px 0 87px;
}
.purchase .container {
    max-width: calc(1188px + 80px);
}
.purchase__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 64px;
    text-align: center;
}
.purchase-cell {
    display: flex;
    justify-content: space-between;
}

.purchase__item {
    padding: 94.5px 50px 42.5px 50px;
    max-width: 380px;
    width: 100%;
    border-radius: 16px;
    border:2px solid var(--color-border);
    box-shadow: 0px 44px 65px rgba(3, 8, 17, 0.19);
    background:var(--color-bg);
    position: relative;
}
/* .purchase__item::before {
    position: absolute;
    top: 1px;
    left: 1px;
    content: '';
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
    z-index: -1;
} */
.purchase__item--best {
    background: #2B2D3A;
    position: relative;
}
.purchase__item--popular {
    background: #25252D;
    position: relative;
}
/* .purchase__item--popular .popular {
    position: absolute;
    top: 41px;
    left: 50px;
    background: var(--color-title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
    
}
.purchase__item--popular .popular::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--color-title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: calc(100% + 4px);
} */
.purchase__item--best::before {
    position: absolute;
    content: url('../images/label-best.svg');
    width: 71px;
    height: 26px;
    top: 32px;
    left: 26px;
}
.purchase__item--popular::before {
    position: absolute;
    content: url('../images/label-popular.svg');
    width: 71px;
    height: 26px;
    top: 32px;
    left: 26px;
}
.purchase__item-title {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 56px;
    font-weight: 400;
}
.purchase__item-title span {
    font-size: 18px;
    line-height: 22px;
    color: var(--color-gray);
}
.purchase__item-price {
    margin-bottom: 56px;
}
.purchase__item-num {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 8px;
    
}
.purchase__item-num span {
    font-size: 24px;
    color: #EEF1F5;
}
.purchase__item-time {
    color: #8A94A6;
    font-size: 24px;
    line-height: 24px;
   
}

.purchase__item-spec {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 32px;
    color: #B0B7C3;
}
.purchase__item-spec span {
    color: var(--color-white);
    font-size: 20px;
    line-height: 30px;
}
.purchase__item-btn {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase__item-btn svg {
    margin-left: 15px;
}
.community {
    padding: 64px 0 50px;
}

.community__title {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}
.community__subtitle {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 24px;
    text-align: center;
}
.community__btn {
    margin: 0 auto;
    display: block;
    max-width: max-content;
    width: 100%;
}

.community-block {
    padding: 71px 72px 76px; 
    margin-top: 115px;
    position: relative;
    border: 2px solid var(--color-border);
    border-radius: 16px;
    box-shadow: 0px 44px 65px rgba(3, 8, 17, 0.19);
}
.community-cell {
    max-width: 441px;
}
.community-cell__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 48px;
}
.community-cell__desc {
    font-size: 20px;
    line-height: 30px;
    color: #8A94A6;
    margin-bottom: 48px;
    max-width: 403px;
}
.form-row {
    display: flex;
    justify-content: flex-start;
}
.form__input {
    outline: none;
    border: none;
    padding: 22px 26px;
    background: #2B2D3A;
    border-radius: 16px;
    color: #B0B7C3;
    width: 262px;
    margin-right: 32px;
}
.form__input::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #B0B7C3;
    font-family: 'Space Grotesk', sans-serif;
}
.community__pic {
    position: absolute;
    top: 100px;
    right: 72px;
}

.faq {
    padding: 45px 0 65px;
}
.faq__title {
    text-align: center;
    margin-bottom: 64px;
    font-size: 40px;
    line-height: 40px;
}


.faq-block {
    max-width: 690px;
    margin: 0 auto;
}
.faq-list__item {
    padding: 24px 24px 24px 48px;
    border-radius: 16px;
    margin-bottom: 24px;
    border: 2px solid var(--color-border);
    cursor: pointer;
}
.faq-list__question{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.faq-list__answer {
    margin-top: 32px;
    color: var(--color-gray);
    display: none;
    
}
.faq-list__answer.active {
    display: block;
}
.faq-list__name {
    font-size: 22px;
    line-height: 22px;
}
.faq-list__btn {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--color-bg);
    transition: background .5s ease-in;
}
.faq-list__btn.active {
    background: var(--color-primary);
    transition: background .2s ease-in;
}
.faq-list__btn.active svg path{
    fill: var(--color-bg);
}
.ready {
    padding: 90px 0 132px;
    position: relative;
    overflow: hidden;
}
.ready-block::before {
    position: absolute;
    content: url('../images/gradient.png');
    top: -120px;
    left: -500px;
    width: 100%;
    height: 300px;
    z-index: -1;
}
.ready-block {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    padding: 31px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background-color: #1F1F1F;
}
.ready__text {
    font-size: 32px;
    line-height: 32px;
}
.ready .form__input {
    margin-right: 24px;
}
.footer {
    background: #1F1F1F;
    padding: 65px 0;
}
.footer-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 0 0;
    border-bottom: none;
    
}

.footer-row:nth-of-type(2) {
    padding: 0 0 24px 0;
    border-bottom: 2px solid var(--color-border);
}

.footer-policy__item {
    display: inline-block;
    margin-right: 24px;
    font-size: 10px;
    line-height: 13px;
    color: var(--color-gray);
}
.footer-links {
    display: flex;
}
.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #25252D;
    border-radius: 50%;
    cursor: pointer;
}
.footer__link:hover {
    opacity: .8;
}
.footer__link + .footer__link {
    margin-left: 32px;
}
.footer__logo {
    margin-bottom: 24px;
}
.footer__subtitle {
    font-family: 'VT323', sans-serif;
    text-transform: uppercase;
}
.footer__subtitle span {
    color: pink;
}

@media(max-width: 1280px) {
    .container {
        max-width: calc(915px + 40px);
        padding: 0 20px;
    }

    .header__item {
        display: none;
    }
    .header-search {
        display: none;
    }
    .hero-wrapper {
        padding: 112px 0 86px;
    }
    .hero__subtitle {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 12px;
    }
    .hero__title {
        font-size: 40px;
        line-height: 51px;
        margin-bottom: 20px;
        letter-spacing: 20px;
    }
    .hero__desc {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 40px;
        max-width: 400px;
    }
    .hero__pic {
        max-width: 572px;
        top: -10px;
        right: -5px;
    }
    .purchase {
        padding: 18px 0 87px;
    }
    .purchase-cell {
        max-width: 820px;
    }
    .purchase__item {
        padding: 84px 26px 42px;
    }
    .purchase__item--best::before {
        left: 6px;
    }
    .purchase__item--popular::before {
        left: 6px;
    }
    .purchase__item-title {
        font-size: 22px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 34px;
    }
    .purchase__item-num {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 8px;
    }
    .purchase__item-price {
        margin-bottom: 66px;
    }
    .purchase__item-spec span {
        max-width: 145px;
    }
    .purchase__item-spec:last-of-type span {
        white-space: nowrap;
    }
    .purchase__item-btn {
        margin-top: 0px;
        font-size: 12px;
        line-height: 12px;
        padding: 18px;
    }
    .community-block {
        padding: 71px 69px;
    }
    .community-cell__title {
        font-size: 32px;
        line-height: 1;
        max-width: 326px;
        margin-bottom: 32px;
    }
    .community-cell__desc {
        margin-bottom: 32px;
    }
    .community__pic {
        top: 90px;
        right: 100px;
    }
    .form__input {
        margin-right: 24px;
    }
    .faq {
        padding: 98px 0 40px;
    }
    .faq__title {
        margin-bottom: 48px;
    }
    .ready-block {
        padding: 30px 40px;
        max-width: 821px;
    }
    .ready {
        padding: 154px 0 140px;

    }
    .header-nav {
        display: none;
    }
    .ready-block::before {
        top: -200px;
    }
}
@media(max-width: 940px){
    .hero__pic {
        max-width: 50%;
        top: 50px;
    }
}
@media(max-width: 768px) {

    .container {
        padding: 0 20px;
    }
    .wrapper {
        padding: 0 20px;
    }
    .header__btn {
        display: none;
    }
    .header__logo {
        margin-right: 0;
    }
    .header-content {
        justify-content: center;
    }
    .hero-wrapper {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 64px 0 0 0;
    }
    .hero__pic {
        position: static;
        max-width: initial;
    }
    .hero__pic img {
        width: 100%;
    }
    .crypt-block {
        flex-direction: column;
        margin-top: -70px;
        position: relative;
        z-index: 2;
        text-align: center;
        max-width: 255px;
    }
    .hero__title {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 15px;
    }
    .hero__desc {

        margin: 0 auto 20px;
        max-width: 320px;
    }
    .purchase {
        padding: 28px 0 44px;
    }
    .purchase__title {
        margin-bottom: 36px;
        font-size: 28px;
        line-height: 1;
    }
    .purchase__item-spec span {
        max-width: 100%;
    }
    .community__title {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 16px;
    }
    .community__btn {
        max-width: 100%;
        text-align: center;
    }
    .community-block {
       
        padding: 44px 35px;
        width: calc(100% + 40px);
        margin: 0 -20px;
        margin-top: 100px;
    }
    .community__pic {
        display: none;
    }
    .form-row {
        flex-direction: column;
    }
    .form__input {
        width: 100%;
        margin-bottom: 16px;
    }
    .community-cell {
        max-width: 100%;
    }
    .faq__title {
        font-size: 28px;
        line-height: 1;
        max-width: 300px;
        text-align: center;
        margin: 0 auto 39px;
    }
    .faq-list__item {
        padding: 24px;
    }
    .faq-list__btn {
        width: 48px;
        height: 48px;
    }
    .faq-list__name {
        width: calc(100% - 42px);
    }
    .ready {
        padding: 138px 0 65px;
    }
    .ready-block {
        flex-direction: column;
        padding: 45px 40px;
    }
    .ready__text {
        margin-bottom: 36px;
    }
    .ready__form {
        width: 100%;
    }
    .ready-block::before {
        content: url('../images/gradient-mob.png');
        top: -150px;
        left: -200px;

    }
    .crypt__item {
        margin-bottom: 16px;
        margin-right: 0;
    }
    .crypt__item--left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        width: 50%;
    }
    .crypt__item--right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
        width: 50%;
    }
    .crypt-block__element {
        padding-bottom: 24px;
        width: 100%;
        text-align: center;
    }
    .crypt-block__element:first-of-type {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .crypt-block__element + .crypt-block__element {
        padding-top: 24px;
        padding-bottom: 0;
        border-top: 2px solid var(--color-border);
    }
    .crypt-block__element {
        flex-direction: column;
    }
    .footer  {
        padding: 64px 0 48px;
    }
    .footer__logo {
        margin-bottom: 32px;
    }
    .footer-row {
       flex-direction: column;
    }
    .footer-policy {
        display: flex;
        flex-direction: column;
    }
    .footer__subtitle {
        margin-bottom: 32px;
        max-width: 180px;
    }
    .footer-policy a {
        display: block;margin-bottom: 8px;
    }
    .footer-reserved {
        margin-top: 24px;
    }
    .hero-controls {
        justify-content: center;
    }
}

@media(max-width: 495px) {
    .hero-controls {
        flex-direction: column;
        
    }
    .hero__btn {
        margin-right: 0;
        margin-bottom: 24px;
    }
    
    .purchase__item {
        max-width: 495px;
        box-shadow: 0px 33px 62px rgba(3, 8, 17, 0.24);
    }
}